.btn {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 8rem;
    right: 6rem;
    box-sizing: border-box;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  